
.home
{
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 1fr 250px;
    height: 90vh;
}

.homeright
{
    background-image:linear-gradient(to right, #fff5bc,#cec1ff);
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    /* padding:2vmax; */
    box-sizing: border-box;
    /* margin:10px; */
    padding-top:50px;
}

.homeleft
{
    /* width:100%; */
    padding:2vmax;
    box-sizing: border-box;
    overflow-y:auto;
    /* background-color:red; */
}
.subjectlink
{
    text-decoration:none;
    color:black;
    cursor:pointer;
    margin:5px;
}
.homelefttop
{
    /* width:100vw; */
    text-align:center;
}
.actionbtn
{
    cursor:pointer;
}
.subjectlist
{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    height:100%;
    width:100%;
    flex-wrap:wrap;
    background-color:rgb(218, 233, 233);

}
.subjectbox
{
    height:250px;
    width:250px;
    /* background-color:red; */
    margin:10px;
     display: flex;
    justify-content:  space-between;
}
.subject
{
    color:black;
    cursor:pointer;
}
.bottom
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    /* margin:auto; */
}
.cardbody
{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    /* background-color:rgb(218, 233, 233); */
}