.status
{
    width: 60vw;
    display: flex;
    /* flex:0.5; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    /* border-bottom: 1px solid #e0e0e0; */
    /* background-color:red; */
}
.pending
{
    width:30%;
    height:95vh;
    overflow-y:auto;
}
.accepted
{
    width:30%;
    height:95vh;
    overflow:auto;
}
.rejected
{
    width:30%;
    height:95vh;
    overflow:auto;
}